# Object files
*.o
*.ko
*.stg
*.tdt

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.abs
*.s19

# Projects nonsense files
*.dep
*.map

# Folders

# SI project
D4CD.IAB
D4CD.IAD
D4CD.IMB
D4CD.IMD
D4CD.PFI
D4CD.PO
D4CD.PR
D4CD.PRI
D4CD.PS
D4CD.SearchResults
D4CD.WK3
